<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang Dat Ve</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}"/>
</head>
<body class="bg">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">My Bus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Trang chủ<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Lịch trình</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hóa đơn</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container my-4 ">
    <div class="row">
        <div class="col-md-3">
            <div><label>Điểm đi</label></div>
            <div>
                <select class="form-select">
                    <option>Cần Thơ (CT65)</option>
                    <option>Hà Nội</option>
                    <option>Đà Nẵng</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div><label>Điểm đến</label></div>
            <div>
                <select class="form-select">
                    <option>Hồ Chí Minh (HCM51)</option>
                    <option>Vũng Tàu</option>
                    <option>Đà Lạt</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div><label>Ngày đi</label></div>
            <div><input type="date" class="form-control"></div>
        </div>
        <div class="col-md-3">
            <div><label>Ngày về</label></div>
            <div><input type="date" class="form-control"></div>
        </div>
        <div class="col-md-2 d-flex align-items-end">
            <button class="btn btn-danger w-100 btn1" onclick="showResult()">Tìm chuyến xe</button>
        </div>
    </div>
</div>
<div class="container my-4">
    <div class="row">
        <div class="col-md-3">
            <div><label>Chọn quận huyện đi:</label></div>
            <div>
                <select class="form-select">
                    <option>Quận Ô Môn</option>
                    <option>Quận Ninh Kiều</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div><label>Chọn bến đi:</label></div>
            <div>
                <select class="form-select">
                    <option>BX Ô Môn</option>
                    <option>BX Ninh Kiều</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div><label>Chọn quận huyện đến:</label></div>
            <div>
                <select class="form-select">
                    <option>Quận Bình Tân</option>
                    <option>Quận Tân Bình</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div><label>Chọn bến đến:</label></div>
            <div>
                <select class="form-select">
                    <option>BX Miền Tây</option>
                    <option>BX Miền Đông</option>
                </select>
            </div>
        </div>
        <button class="btn btn-secondary mt-3 btn1">Lọc chuyến xe</button>
    </div>
</div>
<div class="bresult container my-4">
    <h5>Kết quả:</h5>
    <div class="card">
        <div class="card-body">
            <h6><span>07:05:00</span> ➔ <span>11:00:00</span></h6>
            <span><span>150.000 đ </span>• <span>Ghế ngồi</span> • <span>Có 30 chỗ</span></span>
            <p><span>BX Ô Môn</span> ➔ <span>BX Miền Tây</span></p>
            <p class="bg-light p-2">Ngày dự kiến khởi hành: <span>2023-12-01</span><br>
                Thời gian đi chuyển trung bình: <span>4 giờ 0 phút</span><br>
                Ngày dự kiến đến: <span>2023-12-01</span></p>
            <h6>Chọn ghế:</h6>
            <div class="d-flex justify-content-around">
                <div>
                    <p>Tầng dưới</p>
                    <div class="d-flex flex-wrap" style="gap: 5px;">
                        <button class="btn btn-outline-info">H01</button>
                        <button class="btn btn-outline-info">H02</button>
                        <button class="btn btn-outline-info">H03</button>
                        <button class="btn btn-outline-info">H04</button>
                        <button class="btn btn-outline-info">H05</button>
                        <button class="btn btn-outline-info">H06</button>
                        <!-- Thêm các ghế khác -->
                    </div>
                </div>
                <div>
                    <p>Tầng trên</p>
                    <div class="d-flex flex-wrap" style="gap: 5px;">
                        <button class="btn btn-outline-info">H16</button>
                        <button class="btn btn-outline-info">H17</button>
                        <button class="btn btn-outline-info">H18</button>
                        <button class="btn btn-outline-info">H19</button>
                        <button class="btn btn-outline-info">H20</button>
                        <!-- Thêm các ghế khác -->
                    </div>
                </div>
            </div>
            <h6>Thông tin chung:</h6>
            <p><span>Cần Thơ</span> - <span>Sài Gòn</span><br>Quãng đường: <span>168km</span><br>Thời gian di chuyển
                trung bình: <span>4km/h</span><br>
                Biển số phương tiện: <span>65D1-50354</span><br>Giá vé: <span>150.000 đ</span></p>
            <h6>Tổng số vé: <span>2 vé</span></h6>
            <h6>Tổng tiền: <span>300.000đ</span></h6>
            <button class="btn btn-danger mt-3 btn1 none-float">Đặt vé</button>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/style.js') }}"></script>
</html>