* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}

/* Định dạng phần header tìm kiếm */
.header-lichtrinh {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 20px;
}
.header-lichtrinh .timkiem {
    display: flex;
    align-items: center;
    gap: 8px;
}
.header-lichtrinh .timkiem input {
    width: 100%;
    max-width: 500px;
    height: 45px;
    padding-left: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.header-lichtrinh .timkiem input:focus {
    outline: none;
    border-color: #40E0D0;
}
.header-lichtrinh .timkiem button {
    width: 50px;
    height: 45px;
    background-color: #40E0D0;
    outline: none;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-lichtrinh .timkiem button i {
    color: white;
}
.header-lichtrinh .timkiem button:hover {
    background-color: #00CED1;
}

/* Định dạng phần footer và bảng */
.footer-lichtrinh {
    margin-top: 50px;
}
.footer-lichtrinh table {
    width: 100%;
    border-collapse: collapse;
}
.footer-lichtrinh th, .footer-lichtrinh td {
    padding: 15px;
    text-align: center;
    font-size: 17px;
}
.footer-lichtrinh th {
    background-color: #f8f9fa;
    font-weight: bold;
}
.footer-lichtrinh tbody tr {
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.footer-lichtrinh tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Định dạng cho các liên kết */
.text-none {
    text-decoration: none;
}
.red {
    color: red !important;
}
