*{ 
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
   }
html {
    font-family: Arial, Helvetica, sans-serif;
}
.header-lichtrinh {
    display: flex;
    justify-content:space-evenly;
}
.header-lichtrinh .timkiem input {
    width: 500px;
    height: 45px;
    padding-left: 20px;
}
.header-lichtrinh .timkiem input:focus {
    outline: none;
    border-color: #ccc;
}
.header-lichtrinh .timkiem input::placeholder {
    padding: 5px;
}
.header-lichtrinh .timkiem button {
    width: 50px;
    height: 44px;
    margin-left: 8px;
    background-color: #40E0D0;
    outline: none;
    border: none;
    border-radius: 10%;
}
.header-lichtrinh .timkiem button i {
    color: aliceblue;
}
.header-lichtrinh .timkiem button:hover {
    background-color: #00CED1;
}
.footer-lichtrinh {
    margin-top: 50px;
}
.container {
    margin: 0 30px;
}
.footer-lichtrinh tr {
    display: flex;
    justify-content: space-evenly;
    margin: 0 20px;
}
.footer-lichtrinh td {
    display: inline-block;
    /* margin: 0 0 0 40px; */
    padding: 10px 50px;
    font-size: 23px;
}
.footer-lichtrinh table {
    width: 100%;
    border-collapse: collapse;
}
.footer-lichtrinh td i {
    color: red;
}

.footer-lichtrinh tr{
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.footer-lichtrinh tbody tr:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.text-none {
    text-decoration: none;
}

.footer-lichtrinh .tr-thuhai {
    font-size: 17px;
}
.red {
    color: red !important;
}
.mglr-50px {
    margin: 0 50px;
}

